<!DOCTYPE html>
<html>
    <head>
        <title>lyra.pink!</title>
        <link rel="stylesheet" href="static/css/lyrastyle.css">
        <link rel="icon" type="image/png" href="static/favicon.png">
        <meta property="og:title" content="lyra.pink!" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://lyra.pink/static/favicon.png" />
        <meta property="og:url" content="https://lyra.pink/" />
        <meta property="og:description" content="website of the most beautiful girl in the world &lt;3" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body>
        <div id="center">
            <div id="sidebar">
                <ul class="no-bullets">
                    <li>[[IF / <b>home</b> ELSE <a href="/">home</a>]]</li>
                    <li>[[IF photos <b>photos</b> ELSE <a href="photos">photos</a>]]</li>
                    <li>[[IF writing <b>writing</b> ELSE <a href="writing">writing</a>]]</li>
                    <li><a href="static/resume.pdf">resume</a></li>
                    <li><a href="https://github.com/Denendaden/">GitHub</a></li>
                    <hr>
                    <li>[[IF contact <b>contact</b> ELSE <a href="contact">contact</a>]]</li>
                </ul>
            </div>
            <div id="contents">
                [[content]]
            </div>
            <div id="sidebar"></div>
        </div>
    </body>
</html>
