body, html {
    background-color: lavenderblush;
    font-family: "Noto Sans", sans-serif;
    color: oklch(0.1722 0 203.82);
}

a {
    font-weight: bold;
}

a:link {
    color: oklch(0.55 0.1945 348.88);
}

a:visited {
    color: oklch(0.39 0.1945 310.2);
}

a:hover {
    color: oklch(0.61 0.1155 230.29);
}

a:active {
    color: oklch(0.44 0.1155 230.29);
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

pre {
    white-space: pre-wrap;
}

.split {
    display: flex;
    flex-flow: row;
}

.left {
    width: 65%;
    padding-right: 8px;
}

.right {
    max-width: 8cm;
    padding-left: 8px;
}

@media screen and (width < 992px) {
    .split {
        flex-flow: wrap;
    }

    .left {
        width: 100%;
        padding-right: 0;
    }

    .right {
        max-width: 100%;
        padding-left: 0;
    }
}

.no-bullets {
    list-style-type: none;
}

.status {
    white-space: pre-wrap;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-gallery a {
    flex: 21%;
    padding: 0 4px;
    margin-top: 4px;
    vertical-align: middle;
    width: 100%;
    max-width: 30%;
    flex-grow: 1;
}

@media screen and (width < 992px) {
    .photo-gallery a {
        flex: 40%;
        max-width: 50%;
    }
}

#center {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1cm;
}

#sidebar {
    width: 7em;
    text-align: right;
}

#content {
    width: 24cm;
}
