<!DOCTYPE html>
<html>
    <head>
        <title>[[status code]] - lyra.pink</title>
        <link rel="stylesheet" href="static/css/lyrastyle.css">
        <link rel="icon" type="image/png" href="static/favicon.png">
    </head>

    <body>
        <div id="center">
            <div id="contents">
                <h1>
                    [[error]] :&lpar;
                </h1>
                <p>
                    Go <a href="/">home</a>?
                </p>
            </div>
        </div>
    </body>
</html>
