{% extends "base.html" %}
{% block content %}
<div class="split">
    <div class="left">
        <h1>
            lyra &lt;3
        </h1>
        <h2>
            艾韻妍
        </h2>
        <p>
            I'm a <a href="https://github.com/Denendaden/">programmer</a>, <a href="photos">model</a>, and <a href="writing">writer</a> based &lpar;usually&rpar; in the Philadelphia area.
            Currently studying at Swarthmore College (class of '27) and majoring in linguistics.
        </p>
        <p>
            I'm a trans woman and my pronouns are she/her/她/sie.
            I have limited knowledge of Mandarin (working on it!) and a somewhat greater knowledge of German and Japanese.
        </p>
        <p>
            Most of my work experience is in digital archives.
            Check out my <a href="static/resume.pdf">resume</a>!
        </p>
        <p>
            I don't use social media.
            I prefer to keep a low profile.
            If you want to talk to me, you had best reach out to me <a href="contact">directly</a>.
        </p>
        <p>
            Feel free to check out the rest of my website and 加油！ :&rpar;
        </p>
    </div>
    <div class="right">
        <br>
        <img src="static/photos/20250806/fullsize/Lyra-by-Katharina-Poblotzki-4.jpg">
        <small>
            Photo by <a href="http://katharinapoblotzki.com/">Katharina Poblotzki</a>
        </small>
    </div>
</div>

<samp><pre>
Data for Swarthmore, PA (from <a href="https://aa.usno.navy.mil/data/api">USNO</a>)
 Sunrise: {{ data.sunrise }}     Sunset: {{ data.sunset }}
Moonrise: {{ data.moonrise }}    Moonset: {{ data.moonset }}
Moon phase: {{ data.phase }} ({{ data.fracillum }} lit)

Astronomy Picture of the Day (from <a href="https://api.nasa.gov/">NASA</a>):
<a href="https://apod.nasa.gov/">{{ data.apod_title }}</a> ({{ data.apod_date }})
Copyright {{ data.apod_copyright }}
{{ data.apod_image | safe }}
{{ data.apod_explanation }}

Latest LYRA data (from <a href="https://proba2.sidc.be/data/LYRA">PROBA2</a>):
<img src="https://proba2.sidc.be/lyra/data/3DayQuicklook/LyraCalSWClatest.png">
No, I don't know what the above chart is showing. It's on here because I thought it was cute that I share a name with a satellite :3
</pre>
</samp>

<br>

<p>
    <img src="https://wolfgirl.systems/img/wolfgirl88x31.gif" alt="wolfgirl.systems 88x31">
</p>

<small>
    The source code for this website is available on <a href="https://github.com/Denendaden/lyra-pink">GitHub</a>, licensed under the <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPL</a>.
</small>
{% endblock %}
