<!DOCTYPE html>
<html>
    <head>
        <title>lyra.pink!</title>
        <link rel="stylesheet" href="static/css/lyrastyle.css">
        <link rel="icon" type="image/png" href="static/favicon.png">
    </head>

    <body>
        <div id="center">
            <div id="sidebar">
                <ul class="no-bullets">
                    <li>[[IF / <b>Home</b> ELSE <a href="/">Home</a>]]</li>
                    <li>[[IF projects <b>Projects</b> ELSE <a href="projects">Projects</a>]]</li>
                    <li>[[IF photos <b>Photos</b> ELSE <a href="photos">Photos</a>]]</li>
                    <li>[[IF blog <b>Blog</b> ELSE <a href="blog">Blog</a>]]</li>
                    <li><a href="static/resume.pdf">Resume</a></li>
                    <hr>
                    <li>[[IF contact <b>Contact</b> ELSE <a href="contact">Contact</a>]]</li>
                </ul>
            </div>
            <div id="contents">
                [[content]]
            </div>
        </div>
    </body>
</html>
