<!DOCTYPE html>
<html>
    <head>
        <title>lyra.pink!</title>
        <link rel="stylesheet" href="static/css/lyrastyle.css">
        <link rel="icon" type="image/png" href="static/images/favicon.png">
    </head>

    <body>
        <div id="center">
            <div id="sidebar">
                <ul class="no-bullets">
                    <li><b>Home</b></li>
                    <li><a href="projects">Projects</a></li>
                    <li><a href="photos">Photos</a></li>
                    <li><a href="blog">Blog</a></li>
                    <li><a href="static/resume.pdf">Resume</a></li>
                    <hr>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>
            <div id="contents">
                [[content]]
            </div>
        </div>
    </body>
</html>
